<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<ul id="ul">
			<li v-for="todo in todos" v-if="!todo.isComplete">
				{{ todo.msg }}
			</li>
		</ul>
		<ul id="ul2" v-if="shouldRenderTodos">
			<li v-for="todo in todos">
		    	{{ todo.msg }}
		  	</li>
		</ul>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/*
				v-for  v-if
					当它们处于同一节点， v-for 的优先级比 v-if 更高，这意味着 v-if 将分别重复运行于每个 v-for 循环中
			*/
			var vm=new Vue({
				el:'#ul',
				data:{
					todos:[
						{
							isComplete:false,
							msg:'aaa'
						},
						{
							isComplete:true,
							msg:'bbb'
						}
					]
				}
			});
			/*
				如果你的目的是有条件地跳过循环的执行，
				那么将 v-if 置于包装元素 (或 <template>)上
			*/
			var vm2=new Vue({
				el:'#ul2',
				data:{
					shouldRenderTodos:true,
					todos:[
						{msg:'ccc'},
						{msg:'bbb'}
					]
				}
			});
		</script>
	</body>
</html>
