<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<ul id="ul">
			<!--<li v-for="n in evenNumbers">{{ n }}</li>-->
			<li v-for="n in even(num)">{{ n }}</li>
		</ul>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/*
				显示过滤/排序结果
					有时，我们想要显示一个数组的过滤或排序副本，而不实际改变或
					重置原始数据。在这种情况下，可以创建返回过滤或排序数组的计算属性。
			*/
			/*var vm=new Vue({
				el:'#ul',
				data:{
					num:[1,2,3,4,5,6]
				},
				computed:{
					evenNumbers:function (){
						return this.num.filter(function (a){
							return a%2==0;
						});
					}
				}
			});*/
			//在计算属性不适用的情况下 (例如，在嵌套 v-for 循环中)
			//可以使用一个 methods方法：
			/*
				computed
				以前的名字叫做ready
				是在dom加载后马上执行的。
				而methods中的函数，则必须要有一定的触发条件 
			*/
			var vm=new Vue({
				el:'#ul',
				data:{
					num:[1,2,3,4,5,6]
				},
				methods:{
					even:function (num){
						return this.num.filter(function (a){
							return a%2==0;
						});
					}
				}
			});
		</script>
	</body>
</html>
