<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<ul id="example-1">
			<li v-for="item in items">
		    	{{ item.message }}
		  	</li>
		</ul>
		<ul id="example-2">
			<li v-for="(item, index) in items">
		    	{{ parentMessage }} - {{ index }} - {{ item.message }}
			</li>
		</ul>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/*
				v-for
					用 v-for 指令根据一组数组的选项列表进行渲染。 
					v-for 指令需要以 item in items 形式的特殊语法， 
					也可以用 of 替代 in 作为分隔符
					items 是源数据数组并且 item 是数组元素迭代的别名。
					在 v-for 块中，我们拥有对父作用域属性的完全访问权限。
					v-for 还支持一个可选的第二个参数为当前项的索引
			*/
			/*
				基本用法
					
			*/
			var vm=new Vue({
				el:'#example-1',
				data:{
					items:[
						{message:'Foo'},
						{message:'Bar'}
					]
				}
			});
			var vm2=new Vue({
				el:'#example-2',
				data:{
					parentMessage:'parent',
					items:[
						{message:'Foo'},
						{message:'Bar'}
					]
				}
			});
		</script>
	</body>
</html>
